.formControl.error input,
.formControl.error textarea {
    border: 3px solid red;
}

.formControl.error span {
    color: red;
    font-weight: 600;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: red;
}