header img {
  width: 70px;
  height: 70px;
}

.header {
  background-color: yellow;
  width: 80%;
  margin: 0 auto;
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: black;
  font-weight: 700;
  font-size: 25px;
}