header img {
    width: 70px;
    height: 70px;
}

.header {
    background-color: yellow;
    width: 80%;
    margin: 0 auto;
}
.nav {
    background-color: grey;
    flex: 1;
}
.mainContent {
    background-color: palevioletred;
    flex: 5;
}
.mainContent img {
    width: 100%;
    max-height: 200px;
}

a {
    display: block;
    text-decoration: none;
    color: rgb(15, 12, 12);
}
.wrapper {
    display: flex;
    margin: 0 auto;
    width: 80%;
}